apiVersion: v1
kind: Service
metadata:
  name: news-trend-api
  labels:
    app: news-trend-api
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
  selector:
    app: news-trend-api

