apiVersion: v1
kind: Service
metadata:
  name: news-trend-redis
  labels:
    app: news-trend-redis
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
  selector:
    app: news-trend-redis

